@page
@using TopsyTurvyCakes.Models
@{
    var id = 1;
    var recipeService = new RecipesService();
    var recipe = await recipeService.FindAsync(id);
}
<link rel="stylesheet" href="~/site.css" />
<div class="row recipe">
    <div class="col-md-8">
        <div class="col-md-12">
            <span class="description">
                @recipe.Description
            </span>
            <hr />
        </div>
        <div class="ingredients col-md-4">
            <h4>Ingredients</h4>
            <ul>
                @{ foreach (var ingrediant in recipe.IngredientsList)
                    {
                        <li>@ingrediant</li>
                    }
                }

            </ul>
        </div>
        <div class="directions col-md-8">
            <h4>Directions</h4>
            <ol>
                @foreach (var step in recipe.DirectionsList)
                {
                    <li>step</li>
                }

            </ol>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <img class="img img-thumbnail" src="@recipe.GetInlineImageSrc()" />
    </div>
</div>
